#portfolio .btn-group {
    margin-bottom: 25px;
}

#listScroll {
    padding: 0px 20px 0px 20px;
    max-height: 550px;
    overflow: auto;
}

.listElement {
    padding: 10px 15px 10px 15px;
}

.page-item.active .page-link {
    background-color: green;
    color: white;
}

.page-item.active .page-link:hover {
    background-color: green;
    color: white;
}

.modal-backdrop {
    z-index: 1031;
}

#info-modal {
    z-index: 1032;
}

/*스마트폰 화면일때와 아이패드 화면일때 메인 헤더 글씨 크기 조정*/
@media (max-width: 508px){
    header.masthead .intro-text .intro-heading {
        font-size:45px;
    }
}
@media (min-width: 768px){
    header.masthead .intro-text .intro-heading {
        font-size:70px;
    }
}
