    <!-- 시/군에 포함된 놀이시설 목록 -->
    <div id="list-top"></div>
    <a class="btn js-scroll-trigger" id="btnList" href="#list-top" hidden></a>
    <div class="collapse" id="facility-list">
      <!-- 시설 목록 -->
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading text-center my-auto" id="listTitle">놀이시설 목록</h4>
        <hr>
        <div class="text-center" id="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row" id="listScroll"></div>
      </div>

      <!-- 페이지네이션 -->
      <nav><ul class="pagination justify-content-center center-block" id="pagination"></ul></nav>
    </div>
  </div>

  <!-- 해당 놀이시설의 정보 -->
  <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalTitle"><i class="far fa-star"></i> 자세한 정보</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="infoModalBody">
          <form>

            <div class="row">
              <div class="col-sm-12" id="map" style="height:400px;"></div>
            </div>

            <hr>

            <div class="form-group row">
              <label for="info-name" class="col-sm-2 col-form-label font-weight-bold text-center text-nowrap border-right border-left border-warning rounded-lg">이&nbsp;&nbsp;&nbsp;름</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="info-name" value="">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="info-inoutType" class="col-sm-2 col-form-label font-weight-bold text-center text-nowrap border-right border-left border-warning rounded-lg">실내/외</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="info-inoutType" value="">
              </div>
            </div>

            <div class="form-group row">
              <label for="info-buildDay" class="col-sm-2 col-form-label font-weight-bold text-center text-nowrap border-right border-left border-warning rounded-lg">설립일</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="info-buildDay" value="">
              </div>
            </div>

            <div class="form-group row">
              <label for="info-addr" class="col-sm-2 col-form-label font-weight-bold text-center text-nowrap border-right border-left border-warning rounded-lg">주&nbsp;&nbsp;&nbsp;소</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="info-addr" value="">
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
</section>