    <!-- 시/군에 포함된 놀이시설 목록 -->
    <div id="list-top"></div>
    <a class="btn js-scroll-trigger" id="btnList" href="#list-top" hidden></a>
    <div class="collapse" id="facility-list">
      <!-- 시설 목록 -->
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading text-center" id="listTitle">놀이시설 목록</h4>
        <hr>
        <div class="text-center" id="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row" id="listScroll"></div>
      </div>

      <!-- 페이지네이션 -->
      <nav>
        <ul class="pagination justify-content-center center-block">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- 해당 놀이시설의 정보 -->
  <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="infoModalBody">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>