    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2019</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/gachon-mobile-web-project/child-play-facility-information" alt="GitHub">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://gachon.ac.kr/" alt="가천대학교">
                  <i class="fa fa-building"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://data.gg.go.kr/" alt="경기데이터드림">
                  <i class="fa fa-database"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- 부트스트랩 JS -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JS -->
    <script src="javascripts/jquery.easing.min.js"></script>

    <!-- 'Agency' 템플릿 JS -->
    <script src="/javascripts/agency.min.js"></script>

    <!-- Search 영역 관련 JS -->
    <script src="javascripts/search/jquery.js"></script>
    <script src="javascripts/search/jquery.nav.js"></script>
    <script src="javascripts/search/jquery.localScroll.js"></script>
    <script src="javascripts/search/isotope.js"></script>
    <script src="javascripts/search/animate.js"></script>
    <script src="javascripts/search/custom.js"></script>
  </body>
</html>
