<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>

    <!-- 부트스트랩 CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- 폰트 CSS -->
    <link href="/stylesheets/fontawesome-free/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- 'Agency' 템플릿 CSS -->
    <link href="/stylesheets/agency.min.css" rel="stylesheet">

    <!-- 직접 작성한 CSS -->
    <link href="/stylesheets/login.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- 상단 네비게이션 바 -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">메인으로</a>
        </div>
    </nav>

    <!-- 로그인 폼 -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">로그인</h2>
                <h3 class="section-subheading text-muted">로그인 화면입니다.</h3>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <div class="form-group">
                                <input class="form-control" id="email" type="email" placeholder="이메일" required="required" data-validation-required-message="이메일을 입력해주세요!">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" type="password" placeholder="비밀번호" required="required" data-validation-required-message="비밀번호를 입력해주세요!">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">로그인</button>&nbsp;&nbsp;
                            <a id="signUpButton" class="btn btn-primary btn-lg text-uppercase" href="/signup">회원가입</a>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </section>

    <!-- 부트스트랩 JS -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="javascripts/jquery.easing.min.js"></script>

    <!-- 'Agency' 템플릿 JS -->
    <script src="/javascripts/agency.min.js"></script>

  </body>
</html>
