<!-- 내 지역 놀이시설 -->
<section class="page-section" id="portfolio">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">내 지역 놀이시설</h2>
        <h3 class="section-subheading text-muted">각 시군에 속한 놀이시설을 검색할 수 있습니다.</h3>
      </div>
    </div>

    <div class="btn-group btn-group-lg" id="btnGroup" role="group">
      <button type="button" id="collapseBtn1" class="btn btn-outline-warning text-dark" data-toggle="collapse" data-target="#collapse1">경기도 북부 <span class="badge badge-warning">8</span></button>
      <button type="button" id="collapseBtn2" class="btn btn-outline-warning text-dark" data-toggle="collapse" data-target="#collapse2">경기도 남부 <span class="badge badge-warning">20</span></button>
      <button type="button" id="collapseBtn3" class="btn btn-outline-warning text-dark" data-toggle="collapse" data-target="#collapse3">군 <span class="badge badge-warning">3</span></button>
      <button type="button" id="btnUsage" data-toggle="collapse" data-target="collapse-usage" hidden></button>
    </div>

    <div class="alert alert-secondary collapse" id="collapse-usage" role="alert">
        상단 카테고리를 선택해주세요.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="closeUsage">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <!-- 경기도 북부 -->
    <div class="row collapse" id="collapse1">

      <!-- 고양시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=고양시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/고양시.jpg">
        </a>
      </div>

      <!-- 구리시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=구리시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/구리시.jpg">
        </a>
      </div>

      <!-- 남양주시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=남양주시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/남양주시.jpg">
        </a>
      </div>

      <!-- 동두천시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=동두천시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/동두천시.jpg">
        </a>
      </div>

      <!-- 양주시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=양주시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/양주시.jpg">
        </a>
      </div>

      <!-- 의정부시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=의정부시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/의정부시.jpg">
        </a>
      </div>

      <!-- 파주시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=파주시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/파주시.jpg">
        </a>
      </div>

      <!-- 포천시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=포천시">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/포천시.jpg">
        </a>
      </div>

    </div>

    <!-- 경기도 남부 -->
    <div class="row collapse" id="collapse2">

      <!-- 과천시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/과천시.jpg" alt="과천시">
        </a>
      </div>

      <!-- 안양시 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/안양시.jpg" alt="안양시">
        </a>
      </div>

    </div>

    <!-- 군 -->
    <div class="row collapse" id="collapse3">

      <!-- 가평군 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=가평군&sigun_cd=41820">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-danger rounded-lg" src="img/sigun_logo/가평군.jpg">
        </a>
      </div>

      <!-- 양평군 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=양평군&sigun_cd=41830">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-danger rounded-lg" src="img/sigun_logo/양평군.jpg">
        </a>
      </div>

      <!-- 연천군 -->
      <div class="col-md-2 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="/?sigun_nm=연천군&sigun_cd=41800">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-danger rounded-lg" src="img/sigun_logo/연천군.jpg">
        </a>
      </div>

    </div>
