    <!-- Search: 내 지역 놀이시설 -->
    <section class="section" id="search">
        <div class="container clearfix">
          <!-- 소제목 -->
          <h4>내 지역 놀이시설</h4>
    
          <!-- 필터 -->
          <div class="row">
            <div id="filters" class="span12">
              <ul class="clearfix">
                <li><a href="#" data-filter="*" class="active"><h5>전체</h5></a></li>
                <li><a href="#" data-filter=".north"><h5>북부</h5></a></li>
                <li><a href="#" data-filter=".south"><h5>남부</h5></a></li>
                <li><a href="#" data-filter=".west"><h5>서부</h5></a></li>
                <li><a href="#" data-filter=".center"><h5>중부</h5></a></li>
                <li><a href="#" data-filter=".east"><h5>동부</h5></a></li>
              </ul>
            </div>
          </div>
    
          <!-- 도시 목록 -->
          <div class="row">
            <div class="span12">
              <div id="portfolio-wrap">

                <!-- 항목: 가평군 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/가평군.jpg" alt="가평군" />
                    </a>
                  </div>
                </div>
    
                <!-- 항목: 고양시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/고양시.jpg" alt="고양시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 과천시 -->
                <div class="portfolio-item grid south center">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/과천시.jpg" alt="과천시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 광명시 -->
                <div class="portfolio-item grid south west">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/광명시.jpg" alt="광명시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 광주시 -->
                <div class="portfolio-item grid south east">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/광주시.jpg" alt="광주시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 구리시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/구리시.jpg" alt="구리시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 군포시 -->
                <div class="portfolio-item grid south center">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/군포시.jpg" alt="군포시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 김포시 -->
                <div class="portfolio-item grid south west">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/김포시.jpg" alt="김포시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 남양주시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/남양주시.jpg" alt="남양주시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 동두천시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/동두천시.jpg" alt="동두천시" />
                    </a>
                  </div>
                </div>
  
                <!-- 항목: 부천시 -->
                <div class="portfolio-item grid south west">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/부천시.jpg" alt="부천시" />
                    </a>
                  </div>
                </div>
    
                <!-- 항목: 성남시 -->
                <div class="portfolio-item grid south center">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/성남시.jpg" alt="성남시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 수원시 -->
                <div class="portfolio-item grid south center">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/수원시.jpg" alt="수원시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 시흥시 -->
                <div class="portfolio-item grid south west">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/시흥시.jpg" alt="시흥시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 안산시 -->
                <div class="portfolio-item grid south west">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/안산시.jpg" alt="안산시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 안성시 -->
                <div class="portfolio-item grid south">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/안성시.jpg" alt="안성시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 안양시 -->
                <div class="portfolio-item grid south center">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/안양시.jpg" alt="안양시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 양주시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/양주시.jpg" alt="양주시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 양평군 -->
                <div class="portfolio-item grid south east">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/양평군.jpg" alt="양평군" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 여주시 -->
                <div class="portfolio-item grid south east">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/여주시.jpg" alt="여주시" />
                    </a>
                  </div>
                </div>
  
                <!-- 항목: 연천군 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/연천군.jpg" alt="연천군" />
                    </a>
                  </div>
                </div>
    
                <!-- 항목: 오산시 -->
                <div class="portfolio-item grid south">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/오산시.jpg" alt="오산시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 용인시 -->
                <div class="portfolio-item grid south">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/용인시.jpg" alt="용인시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 의왕시 -->
                <div class="portfolio-item grid south center">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/의왕시.jpg" alt="의왕시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 의정부시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/의정부시.jpg" alt="의정부시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 이천시 -->
                <div class="portfolio-item grid south east">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/이천시.jpg" alt="이천시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 파주시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/파주시.jpg" alt="파주시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 평택시 -->
                <div class="portfolio-item grid south">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/평택시.jpg" alt="평택시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 포천시 -->
                <div class="portfolio-item grid north">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/포천시.jpg" alt="포천시" />
                    </a>
                  </div>
                </div>
                
                <!-- 항목: 하남시 -->
                <div class="portfolio-item grid south east">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/하남시.jpg" alt="하남시" />
                    </a>
                  </div>
                </div>

                <!-- 항목: 화성시 -->
                <div class="portfolio-item grid south">
                  <div class="portfolio">
                    <a href="#list-modal" data-toggle="modal" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                      <img src="img/sigun_logo/화성시.jpg" alt="화성시" />
                    </a>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
    </section>