<!-- 내 지역 놀이시설 -->
<section class="page-section" id="portfolio">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">내 지역 놀이시설</h2>
        <h3 class="section-subheading text-muted">각 시군에 속한 놀이시설을 검색할 수 있습니다.</h3>
      </div>
    </div>

    <div class="btn-group btn-group-lg" id="btnGroup" role="group">
      <button type="button" id="collapseBtn1" class="btn btn-outline-warning text-dark" data-toggle="collapse" data-target="#collapse1">경기도 북부 <span class="badge badge-warning">8</span></button>
      <button type="button" id="collapseBtn2" class="btn btn-outline-warning text-dark" data-toggle="collapse" data-target="#collapse2">경기도 남부 <span class="badge badge-warning">20</span></button>
      <button type="button" id="collapseBtn3" class="btn btn-outline-warning text-dark" data-toggle="collapse" data-target="#collapse3">군 <span class="badge badge-warning">3</span></button>
      <button type="button" id="btnUsage" data-toggle="collapse" data-target="collapse-usage" hidden></button>
    </div>

    <div class="alert alert-secondary collapse" id="collapse-usage" role="alert">
        상단 카테고리를 선택해주세요.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="closeUsage">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <!-- 경기도 북부 -->
    <div class="row collapse" id="collapse1">

      <!-- 고양시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="고양시" alt="41280">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/고양시.jpg" alt="고양시">
        </a>
      </div>

      <!-- 구리시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="구리시" alt="41310">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/구리시.jpg" alt="구리시">
        </a>
      </div>

      <!-- 남양주시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="남양주시" alt="41360">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/남양주시.jpg" alt="남양주시">
        </a>
      </div>

      <!-- 동두천시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="동두천시" alt="41250">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/동두천시.jpg" alt="동두천시">
        </a>
      </div>

      <!-- 양주시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="양주시" alt="41630">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/양주시.jpg" alt="양주시">
        </a>
      </div>

      <!-- 의정부시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="의정부시" alt="41150">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/의정부시.jpg" alt="의정부시">
        </a>
      </div>

      <!-- 파주시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="파주시" alt="41480">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/파주시.jpg" alt="파주시">
        </a>
      </div>

      <!-- 포천시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="포천시" alt="41650">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-primary rounded-lg" src="img/sigun_logo/포천시.jpg" alt="포천시">
        </a>
      </div>

    </div>

    <!-- 경기도 남부 -->
    <div class="row collapse" id="collapse2">

      <!-- 과천시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="과천시" alt="41290">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/과천시.jpg" alt="과천시">
        </a>
      </div>

      <!-- 광명시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="광명시" alt="41210">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/광명시.jpg" alt="광명시">
        </a>
      </div>

      <!-- 광주시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="광주시" alt="41610">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/광주시.jpg" alt="광주시">
        </a>
      </div>

      <!-- 군포시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="군포시" alt="41410">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/군포시.jpg" alt="군포시">
        </a>
      </div>

      <!-- 김포시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="김포시" alt="41570">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/김포시.jpg" alt="김포시">
        </a>
      </div>

      <!-- 부천시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="부천시" alt="41190">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/부천시.jpg" alt="부천시">
        </a>
      </div>

      <!-- 성남시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="성남시" alt="41130">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/성남시.jpg" alt="성남시">
        </a>
      </div>

      <!-- 수원시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="수원시" alt="41110">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/수원시.jpg" alt="수원시">
        </a>
      </div>

      <!-- 시흥시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="시흥시" alt="41390">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/시흥시.jpg" alt="시흥시">
        </a>
      </div>

      <!-- 안산시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="안산시" alt="41270">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/안산시.jpg" alt="안산시">
        </a>
      </div>

      <!-- 안성시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="안성시" alt="41550">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/안성시.jpg" alt="안성시">
        </a>
      </div>

      <!-- 안양시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="안양시" alt="41170">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/안양시.jpg" alt="안양시">
        </a>
      </div>

      <!-- 여주시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="여주시" alt="41670">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/여주시.jpg" alt="여주시">
        </a>
      </div>

      <!-- 오산시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="오산시" alt="41370">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/오산시.jpg" alt="오산시">
        </a>
      </div>

      <!-- 용인시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="용인시" alt="41460">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/용인시.jpg" alt="용인시">
        </a>
      </div>

      <!-- 의왕시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="의왕시" alt="41430">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/의왕시.jpg" alt="의왕시">
        </a>
      </div>

      <!-- 이천시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="이천시" alt="41500">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/이천시.jpg" alt="이천시">
        </a>
      </div>

      <!-- 평택시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="평택시" alt="41220">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/평택시.jpg" alt="평택시">
        </a>
      </div>

      <!-- 하남시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="하남시" alt="41450">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/하남시.jpg" alt="하남시">
        </a>
      </div>

      <!-- 화성시 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="화성시" alt="41590">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-success rounded-lg" src="img/sigun_logo/화성시.jpg" alt="화성시">
        </a>
      </div>

    </div>

    <!-- 군 -->
    <div class="row collapse" id="collapse3">

      <!-- 가평군 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="가평군" alt="41820">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-danger rounded-lg" src="img/sigun_logo/가평군.jpg" alt="가평군">
        </a>
      </div>

      <!-- 양평군 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="양평군" alt="41830">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-danger rounded-lg" src="img/sigun_logo/양평군.jpg" alt="양평군">
        </a>
      </div>

      <!-- 연천군 -->
      <div class="col-md-2 col-sm-6 col-6 portfolio-item">
        <a class="portfolio-link" name="연천군" alt="41800">
          <div class="portfolio-hover rounded-lg">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-2x"></i></div>
          </div>
          <img class="img-fluid border-top border-bottom border-danger rounded-lg" src="img/sigun_logo/연천군.jpg" alt="연천군">
        </a>
      </div>

    </div>
