    <!-- Header -->
    <header class="masthead">
        <div class="container">
          <div class="intro-text">
            <div class="intro-lead-in">환영합니다!</div>
            <div class="intro-heading text-uppercase">어린이 놀이시설 정보</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="btnSearch" href="#portfolio">내 주변시설 검색</a>
          </div>
        </div>
    </header>