/* bootstrap */
@import url('bootstrap.css');

/* 분류 부분 글씨체 */
#search h1,
#search h2,
#search h3,
#search h4,
#search h5,
#search h6 {
	font-weight: 400;
	color: #312f2b;
	line-height:1.1em;
	font-family:'Open Sans', Arial, sans-serif;
}

/* 소제목 부분 */
section#search.section {
	padding: 100px 0 80px;
}
section#search.section h4 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 46px;
	font-weight: 700;
	letter-spacing: -1px;
}
section#search.inner {
	padding: 50px 0 50px;
}

/* 내부 grid 부분 */
#search #filters {
	margin-bottom: 0px;
	text-align: center;
	display: block;
	float: none;
	z-index: 2;
	position: relative;
}
#search #filters ul {
	margin: 0 0 20px;
	list-style: none;
	padding: 0;
}
#search #filters ul li {
	display: inline-block;
}
#search #filters ul li a {
	display: block;
	float: left;
	padding: 2px 5px;
	color: inherit;
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: 600;
}
#search #filters ul li a:hover,
#search #filters ul li a:focus {
	text-decoration:none;
	outline:0;
}
#search #filters ul li a h5 {
	font-size: 14px;
	padding: 5px 10px 5px;
	border: 2px solid #f2f2f2;
}

#search #filters ul li a:hover h5,
#search #filters ul li a.active h5 {
	color:#d47e2d;
}

#search #portfolio-wrap .grid {
	margin: 0;
	overflow: hidden;
	line-height: 0;
	width: 20%;
	border:0;
	padding: 0;
}
#search .portfolio-item .portfolio-image img {
	width: 100%;
	height: auto;
	padding: 35px 35px 10px 10px;
}

/* 애니메이션 */
#search .isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
#search .isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
#search .isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

#search .isotope.no-transition,
#search .isotope.no-transition .isotope-item,
#search .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
